/* temporary refugees from rap.css */
.pub_author-name {
    display: inline-block;
    margin-right: 25px;
}

/* override wilma */
h1.vivo-logo {
  background: url(../images/opera_kvadrat-1-150x150.png) 0 0 no-repeat;
  background-size: 75px 75px;
  height:75px;
  top: 26px;
}
body {
  background: #888;
}
#branding {
  height:100px;
  width: 1063px;
}
.displace {
  left: 120px;
  top: 25px;
  color: white;
  font-size: 1.2em;
  width:400px;
}
ul#main-nav {
  width:1062px;
}
#wrapper-content {
  width:1024px;
}
footer {
  width: 1064px;
}
#search-form {
  display:none /* hide normal search box */
}
#nora-search-form {
  width: 52%;
  float:right;
}
#nora-search-submit {
  height: 4ex;
  margin-left: 0.4em;
}
#nora-search-text {
  width: 15em;
}
.searchResultTypes a {
  margin-right: 1em;
}

/* general */
/* 
* {
  box-sizing: border-box;
}
*/

.icon {
	display: inline-block;
	fill: black;
	stroke: black;
	stroke-width: 1px;
	width: 20px;
	height: 20px;
}
.n_wrap {

}
.n_wrap h1 {
  font-size: 32px;
}
.n_main h1 {
  font-size: 1.1em;
}
.n_main h2 {
  font-size: 24px;
}
.n_main h3 {
  font-size: 20px;
}
.n_main h5 {
  font-size: 14px;
  font-weight: bold;
}

/*
.width-l {
  width: 1280px;
}
*/

.n_main a {
  display: inline-block;
}
.n_main p {
	line-height: 1.4;
}

/* long-list */
.n_long-list {
  list-style: none;
}
.n_long-list li > a {
  display: block;
  padding: 24px 0;
  border-bottom: 1px solid silver;
}
.n_long-list li:last-child > a{
  border-bottom: none;
}
.n_long-list h5 {
  font-size: 14px;
  margin-bottom: 14px;
}
.n_long-list li:hover {
  background: #f3f3f3;
}
.n_long-list li > a {
  transition: .4s;
}
.n_long-list li:hover > a {
  padding-left: 20px;
}
/* end long-list */

/* end general */




/** .n_top */
.n_top {
  margin: 0 auto 80px auto;
}
.n_top-bar {
  display: flex;
  flex-wrap: nowrap;
  height: 80px;
  line-height: 80px;
  background: #b50404;
}
.n_top-bar h1 {
  line-height: 80px;
  text-align: center;
  margin: 0;
  width: 100%;
}
/** end .n_top */

/** .n_top-nav **/
.n_top-nav {
  display: flex;
  flex-wrap: nowrap;

  background: #f3f3f3; /* Old browsers */
  background: -moz-linear-gradient(top, #f3f3f3 1%, #d3d3d3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f3f3f3 1%,#d3d3d3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f3f3f3 1%,#d3d3d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.n_top-nav a {
  color: #000;
  padding: 0 40px;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  -webkit-box-shadow: inset -3px 0px 5px -1px #bfb9b9;
  -moz-box-shadow: inset -3px 0px 5px -1px #bfb9b9;
  box-shadow: inset -3px 0px 5px -1px #bfb9b9;
}
.n_top-nav a:last-child {
  box-shadow: none;
}
.n_top-nav a:hover {
  background: #d3d3d3; /* Old browsers */
  background: -moz-linear-gradient(top, #d3d3d3 0%, #f3f3f3 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d3d3d3 0%,#f3f3f3 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d3d3d3 0%,#f3f3f3 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/** end .n_top-nav **/


/** .n_main */
.n_main {
  margin: auto;
}
.n_hero-heading {
  line-height: 3ex;
  font-weight: normal;
  margin-bottom: 20px;
  padding: 1em;
}
/** end .n_main */



/*.n_card*/
.n_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.n_card a {

}
.n_card {
  width: 370px;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 4px 3px 0 rgba(0,0,0,.1);
  box-shadow: 0 4px 3px 0 rgba(0,0,0,.1);
}
.n_c-link-img {
  display: block;
}
.n_c-img {
  display: inline-block;
  width: 100%;
}
.n_c-content {
  padding: 16px;
}
/*end .n_card*/



/****** .n_filters-view *****/
.n_filters-view {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.n_f-results {
  width: 29%;
}
.n_f-search {
  width: 79%;
}
/****** end .n_filters-view *****/

/*** .pub-view ***/
.pub-view {
	display: flex;
	flex-wrap:nowrap;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
}
.pub-v-main {
	width: 69%;
}
.pub-v-sidebar {
	width: 29%;
	position: sticky;
	left: 0;
	top: 0;
}

/***** pub-v-main ****/

/***** pub-v-type ****/
.n-pub-type {
	color: gray;
	font-size: 18px;
	margin-bottom: 22px;
}
.n-pub-type > img {
	display: inline-block;
	margin-left: 20px;
}
.pub-v-main > h1 {
	margin-bottom: 48px;
}
.pv-pub-info {
	margin-bottom: 40px;
}
.pv-pub-info h3 {
	margin-bottom: 16px;
	font-weight: bold;
}
.pv-pub-info p {
	margin-bottom: 10px;
}
.pv-pub-info a {
	border-bottom: 1px solid #b50404;
}
.pv-pub-info span {
	color: #6b0909;
}
.pv-pub-info a:hover {
	color: #b50404;
}
.pv-pub-authors {
	margin-bottom: 16px;
}
.pv-pub-info ul li {
	line-height: 1.4;
	margin-bottom: 8px;
}

.pv-research-categ {
	margin-bottom: 24px;
}
.icon.external-link {
	width: 14px;
	height: 14px;
}
/***** end pub-v-type ****/

/***** end pub-v-main ****/


/*** pub-v-sidebar ***/
.pub-v-sidebar {
	background: #f3f3f3;
	padding: 24px;
}
.pub-v-sidebar > h2 {
	margin-bottom: 40px;
}


.pv-metrics {
	margin-bottom: 44px;
}
.pv-metrics h3 {
	margin-bottom: 18px;
	font-weight: bold;
}
.pv-metrics p {
	margin-bottom: 8px;
}
.pv-metrics-src {
	font-size: 22px;
	margin-bottom: 24px;
	border-bottom: 1px solid gray;
}
.pv-metrics-subgr {
	margin-bottom: 32px;
}
.pv-metrics-subgr:last-child {
	margin-bottom: 0;
}
.pv-metrics-subgr ul li {
	margin-bottom: 10px;
}
/*** end pub-v-sidebar ***/

/*** end .pub-view ***/
